[submodule "libmfs"]
	path = libmfs
	url = https://github.com/zydeco/libmfs.git
[submodule "libres"]
	path = libres
	url = https://github.com/zydeco/libres.git
[submodule "minivmac"]
	path = minivmac
	url = https://github.com/zydeco/minivmac.git
	branch = wintergames
[submodule "UniversalDetector"]
	path = UniversalDetector
	url = https://github.com/MacPaw/universal-detector.git
	branch = master
[submodule "XADMaster"]
	path = XADMaster
	url = https://github.com/MacPaw/XADMaster.git
	branch = master
